@font-face {
    font-family: 'Din round';
    src: url('/public/fonts/dinroundpro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Din round';
    src: url('/public/fonts/dinroundpro-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Jane roe';
    src: url('/public/fonts/jane-roe.bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Metropolis';
    src: url('/public/fonts/metropolis/Metropolis-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}